<header>
    <div class="container">
        <a routerLink="/" class="logo">
            <img class="logo-img"
                src="../assets/images/branch.png"
                alt="Orchard Gems berry branch logo" />
            <span class="logo-text decorative">
                <span class="logo-text-start">{{appTitleStart}} </span>
                <span class="logo-text-end">{{appTitleEnd}}</span>
            </span>
        </a>
        <nav>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/products">Products</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>