ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--nav-color);
    height: 3.5em;
}

li {
    padding: 0 3em;
}

a {
    /* color: var(--nav-color); */
    color: var(--background-color);
}

.logo {
    margin: 2em;
}

.logo-text {
    font-size: 2rem;
    vertical-align: top;
}

.logo-start {
    color: var(--main-font-color);
}

.logo-end {
    color: var(--emphasis-color);
}

.logo-img {
    width: 3em;
    padding: 0 0.3em;
}