<section>
    <h1>Sharing the Natural Bounty of the Bay</h1>
    <p>Welcome! We are a <strong>family-owned farm</strong> and provisioner of
        fine nuts,
        dried
        fruits, popped corn, and other farm-fresh delicacies since
        <strong>2007</strong>.</p>
    <p>Blessed with a year-round sunny, idyllic Mediterranean climate, the San
        Francisco
        Bay is a <strong>natural paradise</strong> known not only for its
        world-class vineries,
        but also for its rich abundance of <strong>fruits</strong>,
        <strong>nuts</strong>, and other <strong>agricultural
            treasures</strong> which are exported and
        enjoyed worldwide.</p>
    <p> We are proud to present <strong>premium</strong> quality,
        <strong>organic</strong>
        specialty goods straight
        from our orchards in the heart of the Bay to your family table.</p>
    <p>We invite you to take a look at the Products page, or get in touch with
        us on our Contact page.</p>
    <p class="decorative large">Happy Snacking!</p>
</section>
