section {
    width: 80vw;
}

h2 {
    text-align: center;
}

.products-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 auto;
}

.product {
    width: 20vw;
    border: var(--border-style);
    border-radius: 10%;
    margin: 1em;
    padding: 1.5em;
}