#chart {
    margin: 3em;
}

#chart rect {
    fill: indianred;
}

#chart text {
    fill: #333;
    font: 10px sans-serif;
    font-weight: 600;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #bbb;
    shape-rendering: crispEdges;
}

.tooltip {
    position: absolute;
    color: darkred;
    font: bold 10px sans-serif;
    border-bottom: 1px solid darkred;
    padding: 0 5px;
    margin: 2px 5px;
}

body {
    background: #1a1a1a;
    color: #eaeaea;
    padding: 10px;
    text-align: center;
    width: 60vw;
    margin: 0 auto;
}

h1 {
    color: #CD2223;
    font-family: 'Arial Narrow';
}

.introText {
    font-family: Helvetica;
    line-height: 1.5em;
}