#chart rect {
    fill: #4aaeea;
}

#chart text {
    fill: #333;
    font: 10px sans-serif;
    font-weight: 600;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #bbb;
    shape-rendering: crispEdges;
}

.tooltip {
    position: absolute;
    color: black;
    background-color: white;
    font: 10px serif;
    padding: 5px 10px;
}

body {
    background: #1a1a1a;
    color: #eaeaea;
    padding: 10px;
}