section {
    width: 70vw;
}

p {
    line-height: 1.75em;
}

.link-buttons-group {
    margin: 2em;
}

.link-buttons-group a {
    margin: 0 2em;
    display: inline-block;
    color: var(--background-color);
    border-radius: 20px;
    padding: 1em;
}

.link-contact {
    background-color: var(--nav-color);
}

.link-products {
    background-color: var(--emphasis-color);
}