<section>
    <h2 class="decorative">Contact</h2>

    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">

        <label>
            Full Name:
            <input type="text" formControlName="fullName">
            <div *ngIf="submitted && emailForm.controls['fullName'].errors"
                class="err">
                <div
                    *ngIf="emailForm.controls['fullName'].errors['required']">You
                    cannot submit the form without a name.</div>
                <div
                    *ngIf="emailForm.controls['fullName'].errors['minlength']">A
                    valid name needs to have at least 5 characters.</div>
            </div>
        </label>

        <label>
            Email Address:
            <input type="text" formControlName="emailAddress">
            <div *ngIf="submitted && emailForm.controls['emailAddress'].errors"
                class="err">
                <div
                    *ngIf="emailForm.controls['emailAddress'].errors['required']">You
                    cannot submit the form without an email address.</div>
                <div
                    *ngIf="emailForm.controls['emailAddress'].errors['email']">Please
                    enter a valid email address.</div>
            </div>
        </label>

        <label>
            Message:
            <textarea formControlName="message"></textarea>
            <div *ngIf="submitted && emailForm.controls['message'].errors"
                class="err">
                <div
                    *ngIf="emailForm.controls['message'].errors['required']">What
                    is your message to us?</div>
            </div>
        </label>
        <div class="form-btn-group">
            <input type="reset" value="Clear Form"
                class="form-btn-clear">
            <input type="submit" value="Send Message"
                class="form-btn-submit">
        </div>
    </form>

    <section *ngIf="valid" class="finalresults">
        <p>Thank you for getting in touch!</p>
        <p>We will respond shortly at the email address you provided.</p>
    </section>

    <section *ngIf="hasUserInput() && !valid"
        class="finalresults">
        <h4>Data you are submitting</h4>
        <p><em><strong>Full Name:</strong></em>&nbsp;<span>{{
                emailForm.controls['fullName'].value
                }}</span></p>
        <p><em><strong>Email Address:</strong></em>&nbsp;<span>{{
                emailForm.controls['emailAddress'].value
                }}</span></p>
        <p><em><strong>Message:</strong></em>&nbsp;<span>{{
                emailForm.controls['message'].value
                }}</span></p>
    </section>
</section>
